<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2><a href="https://twitter.com/PGodjira">Scout - Godjira</a></h2>
    <img src="1500x500.jfif" alt="Scout - Godjira" style="width:256px;height:128px;">
    <p>Description</p>

  </div>
  <div class="tech">
    <h2><a href="https://twitter.com/LooksWhale">Lead Collab Manager - Lookswhale</a></h2>
    <img src="1500x500.jfif" alt="Lead CM- Lookswhale" style="width:256px;height:128px;">
    <p>I have worked closely with the founder from when the project was 0, I was the lead
      and sole collab manager, I managed to do 65 + collabs in just time span of 4 weeks
      These included one of the biggest communities in the space. The project has mint on
      9th September and will get a mint out!! I also helped as an Advisor assisting the
      Founder with some planning on tweets, marketing strategy.</p>

  </div>
  <div class="tech">

    <h2><a href="https://twitter.com/thephoenixesnft">Collab Manager Phoenix</a></h2>
    <img src="1500x500.jfif" alt="Collab Manager -Phoenix" style="width:256px;height:128px;">
    <p>I got in as collab manager very late just 72hrs before the mint but
      even with such a less time period, I managed to close 12 big collabs in just 48hrs
      one of the biggest and most reputated communities in the space! </p>
  </div>
</div>
<div class="user">

  <div class="tech">

    <h2><a href="https://twitter.com/SupercuteNFT">Collab Manager- Supercute</a></h2>
    <img src="1500x500.jfif" alt="Collab Manager- Supercute" style="width:256px;height:128px;">
    <p>I am on the team as Collab Manager, the Mint is planned for early/mid October
      ,Assisting the founder/core team member with collabs. The Co-Founder is loving the work
      And I will be working on the project for next 1 month ( Do dm me if you are looking )
      for a collab</p>
  </div>

</div>