<div class="user-details">
  <h1>My Expertise</h1>

  <p>
    So, I am 17 yrs old, Commerce Student from India. I have been working in NFT space for some months now, I have
    helped several projects some of the notable ones mentioned below. I am very systematic person, Hardworking, Hungry
    to Achieve something big that's why grinding hard from this age!! I love to connect with new people and make friends
    either it be web 2 or web . I am also Fond of music and Games and I have a gaming channel ( Only for my Web 2 FAM ).
    This might be hypocritic but I love NFTs and hate NFTs at the same time, as I rarely mint any NFTs but I sell them
    😂😂😂.
  </p>
  <br>
  <p>I have great experience in working as a Lead Collab Manager /Collab Manager/Advisor for several projects. I have
    helped my clients/projects get several collabs from the point when project is small to the point when it has become
    huge due to the collabs and other marketing efforts. I have connections in one the the most notable projects/alpha
    groups in the space, Total count of projects I am connected with would be 200 +. Many of the CMs in those
    projects/alphas are my friends and dope people!! . Enough about me, I guess 😂. </p>
  <br>
  <p>If you are a client looking for 1 spot destination for Collabs then shoot a DM on discord/Twitter DM Me!! </p>
  <p>If you are collab manager looking to do a collab contact my assistant SP17#9949 ( discord ).</p>

</div>
<div class="user">
  <div class="tech">
    <h2><a href="https://twitter.com/PGodjira">Scout - Godjira</a></h2>
    <img src="1500x500.jfif" alt="Scout - Godjira" style="width:256px;height:128px;">
    <p>I am proud to say this that I am part of Project Godjira Collab Team as a
      Scout it is a big deal to be in part of the team. I am really grateful to Groot for
      seeing something in me and giving me the opportunity. I basically bring wl spots
      from other projects/early project to discussion with Brand Officers.</p>

  </div>
  <div class="tech">
    <h2><a href="https://twitter.com/LooksWhale">Lead Collab Manager - Lookswhale</a></h2>
    <img src="https://pbs.twimg.com/profile_banners/1544705098886127619/1659098170/1500x500" alt="Lead CM- Lookswhale"
      style="width:256px;height:128px;">
    <p>I have worked closely with the founder from when the project was 0, I was the lead
      and sole collab manager, I managed to do 65 + collabs in just time span of 4 weeks
      These included one of the biggest communities in the space. The project has mint on
      9th September and will get a mint out!! I also helped as an Advisor assisting the
      Founder with some planning on tweets, marketing strategy.</p>

  </div>
  <div class="tech">

    <h2><a href="https://twitter.com/thephoenixesnft">Collab Manager Phoenix</a></h2>
    <img src="https://pbs.twimg.com/profile_banners/1513608582704496640/1655657032/1500x500"
      alt="Collab Manager -Phoenix" style="width:256px;height:128px;">
    <p>I got in as collab manager very late just 72hrs before the mint but
      even with such a less time period, I managed to close 12 big collabs in just 48hrs
      one of the biggest and most reputed communities in the space! </p>
  </div>
</div>
<div class="user">

  <div class="tech">

    <h2><a href="https://twitter.com/SupercuteNFT">Collab Manager- Supercute</a></h2>
    <img src="https://pbs.twimg.com/profile_banners/1544777722613956613/1661870536/1500x500"
      alt="Collab Manager- Supercute" style="width:256px;height:128px;">
    <p>I am on the team as Collab Manager, the Mint is planned for early/mid October
      ,Assisting the founder/core team member with collabs. The Co-Founder is loving the work
      And I will be working on the project for next 1 month ( Do dm me if you are looking )
      for a collab</p>
  </div>
  <div class="tech">

    <h2><a href="https://twitter.com/FlareMcs">Collab Manager Flare MC</a></h2>
    <img src="https://pbs.twimg.com/profile_banners/1510358715085508621/1658419825/1500x500"
      alt="Internal Collab Manager Flare MC" style="width:256px;height:128px;">
    <p>This is very similar post like Godjira but promoted level, I work here as
      a Internal collab manager where I bring wl spots from other projects, decide
      mutual spots count and also the execution part is under me. The community is
      super active and I have done multiple collabs and I will be working on the team
      for an unforeseen future</p>
  </div>

  <div class="tech">

    <h2><a href="https://twitter.com/thatsstupidNFT">Collab Manager Stupid</a></h2>
    <img src="https://pbs.twimg.com/profile_banners/1526898687452270594/1657512468/1500x500"
      alt="Lead Collab Manager & Advisor " style="width:256px;height:128px;">
    <p>Same work as Lookswhale + I also help with mint price, mint date, what to post on twitter how to do it and soo
      onn </p>
  </div>
</div>
<div class="user">

  <div class="tech">

    <h2><a href="https://twitter.com/OutcastsSociety">Lead Collab Manager OutcastSociety</a></h2>
    <img src="https://pbs.twimg.com/profile_banners/1548238872949055488/1658934589/1500x500"
      alt="Lead Collab Manager Outcast Society" style="width:256px;height:128px;">
    <p>Same work as Stupids and Lookswhale, I am lead collab manager but not Advisor, This project is cancelled for now
      as the founder is working on something very big so he has to postpone it.</p>

  </div>

  <div class="tech">
    <h2><a href="https://twitter.com/tentaculars">Lead Collab Manager & Advisor Tentacularsy</a></h2>
    <img src="1500x500.jfif" alt="Lead Collab Manager Outcast Society" style="width:256px;height:128px;">
    <p>Same work as Stupids and Lookswhale & Outcast Society I am lead collab manager and also Advisor,
      The project is to be expected to mint around end of September.
      My work is to advice the founder with mint price, mint date,
      social media strategy and any other possible advise needed for the project </p>
  </div>

</div>